
.pic {
 width:300px;
  height:300px;
  background-color:white;
  position: relative;
  background-image:url('images/transparent kostgames logo.png');
  border: solid 4px #2979FF;
  background-size:cover;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.48);
  transition: all .25s ease-in-out;
}
.pic:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.aboutwrap {
  background-color: #2F404B;
  width:100%;
  position: relative;
  top:20px;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  border-top: solid 3px #2979FF;
  border-bottom: solid 3px #2979FF;
transition: all .25s ease-in-out;
}
.aboutwrap:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
}
.abouttext {
 color:white;
  font-family: 'roboto';
  font-size:30px;
  line-height:50px;
  padding-top:10px;
  width:90%;
  padding-bottom:10px;
  
}
