.styled-button-5 {
	background-color:#2081bd;
	color:white;
	font-family:'Helvetica Neue',sans-serif;
	font-size:18px;
	line-height:30px;
	border-radius:  50px;
	-webkit-border-radius:  50px;
	-moz-border-radius:  50px;
	border:0;
	
	width:175px;
	padding-top:10px;
	padding-bottom:10px;
    cursor:pointer;
    margin-right:150px;
    margin-top:40px;
    margin-bottom:30px;
    border-style:dashed;
    border-color:#ff7200;
    box-shadow: 5px 5px 15px #888888;
    font-family:'Lobster';
    
}         
.styled-button-5:hover {
background-color:#3399FF;
}       
.styled-button-5:active { background-color:#ff7200;}
.nav li {
    display:inline-block;
}
#active { background-color:#ff7200; }

body {background-color:#e2e2e2;}

.aboutmetext 
{

padding-top:50px;
padding-bottom:50px;
padding-left:15px;
PADDING-RIGHT:5px;
font-family:'Roboto Slab';
font-size:30px;
color:#2081bd;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s ease-in-out;
  background-color:white;


}
.aboutmetext:hover {
 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
