.styled-button-5 {
	background-color:#2081bd;
	color:white;
	font-family:'Helvetica Neue',sans-serif;
	font-size:18px;
	line-height:30px;
	border-radius:  50px;
	-webkit-border-radius:  50px;
	-moz-border-radius:  50px;
	border:0;
	
	width:175px;
	padding-top:10px;
	padding-bottom:10px;
    cursor:pointer;
    margin-right:150px;
    margin-top:40px;
    margin-bottom:30px;
    box-shadow: 0px 4px #0e5d8d;
    font-family:'Lobster';
    transition: all 0.4s;
}         
.styled-button-5:hover {
background-color:#3399FF;
box-shadow: 0px 4px #2081bd;
}   
.styled-button-5:active {
box-shadow: 0px 0px #6b54d3
}    

.nav li {
    display:inline-block;
}
#active { background-color:#ff7200;
box-shadow: 0px 4px #bd2020;
 }
#active:hover {
background-color:#ff933c;
box-shadow: 0px 4px #f04f4f;
}
#active:active {
box-shadow: 0px 0px #bd2020;
}
body {background:url('http://i.imgur.com/7nKsybG.png') ;
background-size: 760px 760px;
}

.googleplus {
margin-left:20px;
padding-right:1200px;
padding-left:790px;
background-color:#dc473a;
box-shadow: 0px 0px #c62828;
transition: all 0.4s;
}
.googleplus:hover {
box-shadow: 0px 5px #c62828;
}


.findmetext {
position:relative;
left:700px;
color:#2081bd;
font-family:'Lobster'


}
html, body, head {
    max-width:100%;
    overflow-x: hidden;
}
.youtube {
margin-left:20px;
padding-right:800px;
padding-left:635px;
background-color:#dc0000;
box-shadow: 0px 0px #B71C1C;
transition: all 0.4s; 
}
.youtube:hover {
box-shadow: 0px 5px #B71C1C;
}


.twitter {
margin-left:20px;
padding-right:1200px;
padding-left:690px;
background-color:#33ccff;
box-shadow:0px 0px #03a9f4;
transition: all 0.4s;
}
.twitter:hover {
box-shadow:0px 5px #03a9f4;
}

.twitch {
margin-left:20px;
padding-right:1200px;
padding-left:700px;
background-color:#6442a6;
box-shadow: 0px 0px #4527a0;
transition: all 0.4s;
}
.twitch:hover {
box-shadow: 0px 5px #4527a0;
}
