.button {
cursor:pointer;
border:none;
background-color:#2081bd;
color:white;
width:350px;
padding:20px;
float:left;
margin-left:-20px;
margin-top:0px;
line-height:20px;
font-family:'Lobster';
font-size:25px;
text-align:center;
border-radius:10px;
transition: all 0.4s;}
.button:hover {
background-color:white;
color:#2081bd;
-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.43);
-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.43);
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.43);}
.button span {  
cursor: pointer;  
display: inline-block;  
position: relative;  
transition: 0.4s;}
.button span:after {  
content: '»';  
position: absolute;  
opacity: 0;  
top: 0;  
right: -150px;  
transition: 0.4s;}
.button:hover span {  
padding-right: 25px;}
.button:hover span:after {  
opacity: 1;  
right: 0;}
#active {
background-color:#ff7200;}
#active:hover {
background-color:white;
color:#ff7200;
}
.findmetext {margin-top:20px;margin-left:680px;color:#2081bd;font-family:'Lobster'}
.box {
  background-color:white;
  color:lightblue;
 display: block;
  width:500px;
  height:500px;
  margin-top:50px;
  margin-left:100px;
  border-radius:3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#twitchbox {
  cursor:pointer;
  transition: all 0.4s;
}
#twitchbox:hover {
  background-color: #6442a6;
  
}
#twitchbox .twitch {
  position: relative;
  top:180px;
  margin-left:0px;
  padding-left:90px;
  padding-right: 95px;
  padding-top: 180px;
  padding-bottom:194px;
  border-radius: 3px;
  text-decoration: none;
  font-size:100px;
  color:#6442a6;
  font-family:'Comfortaa';
  
  transition: all 0.4s ;
  
}
#twitchbox .twitch:hover {
  background-color:#6442a6;
  color:white;

}
#twitter {
 margin-left: -304px;
  cursor: pointer;
  transition: all 0.4s;
}
#twitter:hover {
  background-color: #33ccff;
}
#twitter .tweet {
 position: relative;
  top:180px;
  margin-left:0px;
  
  padding-top:180px;
  padding-bottom:194px;
  padding-left:80px;
  padding-right: 70px;
  border-radius: 3px;
 text-decoration: none;
  font-size:100px;
  color:#33ccff;
  font-family:'Comfortaa';
  transition: all 0.4s;
}
#twitter .tweet:hover {
  background-color:#33ccff;
  color:white;
  
}
#youtube {
 cursor: pointer ;
  margin-right: 20px;
  transition: all 0.4s; 
}
#youtube:hover {
  background-color: #c11a1a; 
}
#youtube .yt {
 position: relative;
  top:180px;
  margin-left:0px;

  padding-top:180px;
  padding-bottom: 194px;
  padding-left:60px ;
  padding-right: 33px;
  border-radius: 3px;
  text-decoration: none;
  font-size:100px;
  font-family:'Comfortaa';
  color:#c11a1a;
  transition: all 0.4s;
  
}
#youtube {
 margin-left:-303px; 
}
#youtube .yt:hover {
  background-color:#c11a1a;
  color:white;
  
}
#googleplus {
  
cursor:pointer;
  transition: all 0.4s;
  
  
}
#googleplus:hover {
  background-color: #dc473a; 
}
#googleplus .gplus {
  position: relative;
  top: 180px;
  padding-top: 180px;
  padding-left: 55px;
  padding-right: 44px;
  padding-bottom: 194px;
  color:#dc473a;
  text-decoration: none;
  border-radius: 3px;
  font-size: 100px;
  font-family:'Comfortaa';
  transition: all 0.4s;
  
}
#googleplus .gplus:hover {
  color:white;
  background-color: #dc473a;
}
body {
background:url('http://i.imgur.com/7nKsybG.png') ;
background-size: 760px 760px;}

@media screen and (max-width: 480px) 
{
.button {
background-color:#2081bd;
margin-right:10px;
padding-top:10px;
padding-bottom:10px;
padding-right:0px;
padding-left:0px;
line-height:10px;
border-radius:0px;
font-size:15px;
width:75px;
transition:none;}
.button:hover {
background-color:#2081bd;
color:white;
content:none;
transition:none;
box-shadow:none;
width:75px;}
.button:active {
background-color:#3399FF;
}
.button span {
position:none;
transition:none;}
.button span:after {
transition:none;
content:none;
position:none;
right:none;}
.button:hover span{
padding:0;
transition:none;}
.button:hover span:after {
transition:none;
opacity:none;
right:none;}
#myvideosspec { 
width:90px;  
}
#active {
box-shadow:none;}
#active:hover{
background-color:#ff7200;
color:white;}
}
