body {background:url('http://i.imgur.com/7nKsybG.png') ;
  background-size: 300px 300px;
}
.button{
  text-decoration:none;
  display: block;
  color:white;
  background-color:#2081bd;
  font-family:'Lobster';
  font-size:25px;
  text-align: center;
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0px 2px #1a52d0;
  margin-top: 5px;
  border-radius: 5px;
}
.button:active {
  background-color: #1291ff;
  box-shadow: 0px 0px #1a52d0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#active {
  background-color:#ff7200;
  border-color:#ffbebe;
  box-shadow: 0px 2px #c76700
}
.findmetext {
width:100%;
}
.social {
 width:100%;
  display:block;
  text-align:center;
  background-color:white;
  margin-top:10px;
  line-height:80px;
  text-decoration: none;
  font-size:25px;
  font-family: 'Comfortaa';
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#twitter {
color:deepskyblue;
}
#twitter:active {
 background-color: deepskyblue;
  color:white;
}
#youtube {
  color:#c11a1a; 
}
#youtube:active {
  background-color:#c11a1a;
  color:white;
}
#twitch {
  color:#6442a6;
}
#twitch:active {
  background-color:#6442a6;
  color:white;
}
#googleplus {
  color:#dc473a; 
}
#googleplus:active {
  background-color:#dc473a;
  color:white;
}
