body {background:url('http://i.imgur.com/7nKsybG.png') ;
  background-size: 300px 300px;
}
.button{
  text-decoration:none;
  display: block;
  color:white;
  background-color:#2081bd;
  font-family:'Comfortaa';
  font-size:25px;
text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 5px;
  border-radius: 5px;
}
.button:active {
  background-color: #1291ff
}

.active {
  background-color:#ff7200;
  border-color:#ffbebe;
}
.findmetext {
width:100%;
}
.as {
 margin-top:-50px; 
}
.soc {
 display: block;
  text-align: center;
  width:100%;
  text-decoration:none;
  background-color: white;
  margin-top:10px;
  line-height:50px;
  border-radius:3px;
  font-family:'Comfortaa';
  color:white;
  font-size:25px;
}
.soc:active {
  background-color:white;
}
.twitter {
  background-color:#55ACEE;
  box-shadow: 0px 4px #3682bc;
}
.twitter:active {
  color:#55ACEE;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.50);
}

.youtube {
  background-color:#CC181E;
  box-shadow: 0px 4px #a00c10;
}
.youtube:active{
  color:#CC181E;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.50);
}


.twitch {
  background-color:#6442A6;
  box-shadow: 0px 4px #512f91;
}
.twitch:active {
  color:#6442A6;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.50);
}

.deviant {
  background-color:#2D9961;
  box-shadow: 0px 4px #136d3f;
}
.deviant:active {
  color:#2D9961;
  background-color:#2B2B2B;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.50);
}

.googleplus {
  background-color: #DD564C;
  box-shadow: 0px 4px #c43b31;
}
.googleplus:active {
  color:#DD564C;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.50);
}
.order {
  background-color:#34495e;
  box-shadow: 0px 4px #2C3E50;
}
.order:active {
  color:#34495e;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.50);
}
