.top-text {
  display: block;
  position: relative;
  font-size:25px;
  font-family:'Comfortaa';
  font-weight: 300;
  color:white;
  background-color:rgba(0, 0, 0, 0.4);

  transition: all 0.8s;

}
.bottom-text{
 display: none; 
}
.gal {
  margin-top: 25px;
  text-decoration: none;
  text-align: center;
  width:100%;
  height: 275px;
  display:inline-block;

 
  background-size:100%;
background-color:lightgray;
  border-style: solid;
  border-radius: 5px;
  border-color:white;
  margin-left: -5px;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.43);
  transition: all 0.4s;
}
.gameforce {

  
  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12170533/e37e7942-b54a-11e5-819a-8a447f7eedff.png'); 
  background-size:100%;
  
  
}
.gemifrap {
  background-image: url('http://img12.deviantart.net/921c/i/2016/005/d/5/gemifrap_avatar_by_kostgames-d9mu7kt.png'); 
 
}
.arcadeland {
  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12175066/d9e40bfe-b568-11e5-8346-255e6f98431c.png'); 
}
.captainpanez {
  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12175135/4c07cad6-b569-11e5-86a9-58f30227993b.png'); 
}
.gianuba22 {
 
  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12175200/a9487934-b569-11e5-90fc-5290f2182d2a.png'); 

}
.deadlymuffin {

  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12175324/3128f87e-b56a-11e5-8de2-7634c2bbfcde.png'); 

}
.kostgames {
 
  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12178422/08493dfa-b57a-11e5-99d7-d89f16976f51.png'); 

}
.bilyolo {
 
  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12178552/bf2a09b4-b57a-11e5-98d9-e3feb81c67dd.png'); 

}
.rebellgamesgr {
  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12201320/4f8d8ef2-b62c-11e5-841a-0fbe28564d1e.png'); 
}
.jawblast {
  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12215535/6b745658-b6c9-11e5-932d-62a274e47dd4.png'); 
}

.steliosgamer {
  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12215551/0c5b4194-b6ca-11e5-9ab0-a5d7d37149a8.png'); 
}
.strafemaster {
  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12215562/686ae48a-b6ca-11e5-96cd-8f1b6b08a011.png'); 
}
.tgod {
 
  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12215618/b0299aa2-b6cd-11e5-9dfb-c2afd829f0c0.png'); 
}
.tehskear {
  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12222585/0e7ae77c-b7c9-11e5-9776-fc1b013ac1d1.png');  
}
.kaneki {
  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12222593/43ea655e-b7c9-11e5-879e-084e72ea8934.png'); 
}
.gregart {
  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12378464/09e72918-bd47-11e5-81ce-fe8e328c86b3.jpg'); 
}
.frozenlights {

  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12529147/c241838c-c1b6-11e5-8c0e-c4fc1c686bf0.png'); 

}
.vyper {

  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12529800/3857981a-c1ce-11e5-8fc2-4cae0ef5ffc8.png'); 

}
.tehepicz {

  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12852361/39df3210-cc37-11e5-9103-3008e2e35131.png'); 

}
.thanos {

  background-image: url('https://cloud.githubusercontent.com/assets/14951831/12924489/0e1d3760-cf63-11e5-8720-5ff22f27b816.png'); 

}
.jhonois {

  background-image: url('http://i.imgur.com/HwD6656.png');
}
.karpouzis {

  background-image: url('http://i.imgur.com/jdOh70d.png');
}
