.styled-button-5 {
	background-color:#2081bd;
	color:white;
	font-family:'Helvetica Neue',sans-serif;
	font-size:18px;
	line-height:30px;
	border-radius:  50px;
	-webkit-border-radius:  50px;
	-moz-border-radius:  50px;
	border:0;
	
	width:175px;
	padding-top:10px;
	padding-bottom:10px;
    cursor:pointer;
    margin-right:150px;
    margin-top:40px;
    margin-bottom:30px;
    border-style:dashed;
    border-color:#ff7200;
    box-shadow: 5px 5px 15px #888888;
    font-family:'Lobster';
    transition: background-color 0.4s;
}         
.styled-button-5:hover {
background-color:#3399FF;
}       
.styled-button-5:active { background-color:#ff7200;}
.nav li {
    display:inline-block;
}
#active { background-color:#ff7200; }

body {background-color:#e2e2e2;}
#singlevid { 
position:relative;
left:630px;

}
.leftvid { 
margin-left:275px;

}

.leftvid .rightvid {
display:inline;
}
.rightvid {
position:relative;
left:50px;

}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#morevideosbtn {
position:relative;
left:785px;
}
