



.allvids{
margin-top:80px;
}
.leftvid { margin-left:275px;
width:560px;
height:315px;
}
.rightvid {
width:560px;
height:315px;
}
.leftvid .rightvid {display:inline; margin-top:20px;}.rightvid {margin-left:50px;}
#morevideosbtn {position:relative;left:685px;}
@media screen and (max-width:1120px) {
.button {
width:150px;}
}
