body {background:url('http://i.imgur.com/7nKsybG.png') ;
  background-size: 300px 300px;
}
.button{
 text-decoration:none;
  display: block;
  color:white;
  background-color:#2081bd;
  font-family:'Lobster';
  font-size:20px;
  
  border-top: 2px solid #29b6f6;
  border-radius: 3px;
}
.button span {
 margin-left:100px ;
}
#active {
  background-color:#ff7200;
  border-color:lightcoral;
}
.leftvid {
 width:270px; 
}
.rightvid {
 width:270px; 
}
