.styled-button-5 {
	background-color:#2081bd;
	color:white;
	font-family:'Helvetica Neue',sans-serif;
	font-size:18px;
	line-height:30px;
	border-radius:  50px;
	-webkit-border-radius:  50px;
	-moz-border-radius:  50px;
	border:0;
	
	width:175px;
	padding-top:10px;
	padding-bottom:10px;
    cursor:pointer;
    margin-right:150px;
    margin-top:40px;
    margin-bottom:30px;
    box-shadow: 0px 4px #0e5d8d;
    font-family:'Lobster';
    transition: all 0.4s;
}         
.styled-button-5:hover {
width:200px;	
background-color:#3399FF;
box-shadow: 0px 4px #2081bd;
}   
.styled-button-5:active {
box-shadow: 0px 0px #6b54d3
}    

.nav li {
    display:inline-block;
}
#active { background-color:#ff7200;
box-shadow: 0px 4px #bd2020;
 }
#active:hover {
background-color:#ff933c;
box-shadow: 0px 4px #f04f4f;
}
#active:active {
box-shadow: 0px 0px #bd2020;
}
body {background:url('http://i.imgur.com/7nKsybG.png') ;
background-size: 760px 760px;
}
#singlevid { 
position:relative;
left:630px;

}
.leftvid { 
margin-left:275px;
}

.leftvid .rightvid {
display:inline;
}
.rightvid {
position:relative;
left:50px;

}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#morevideosbtn {
position:relative;
left:785px;
}
