body {background:url('http://i.imgur.com/7nKsybG.png') ;
  background-size: 300px 300px;
}
.button{
  text-decoration:none;
  display: block;
  color:white;
  background-color:#2081bd;
  font-family:'Lobster';
  font-size:25px;

  border-top: 2px solid #b9b9b9;
  border-radius: 5px;
}
.button:active {
  background-color: #1291ff
}
.button span {
  margin-left:100px ;
}
#active {
  background-color:#ff7200;
  border-color:#ffbebe;
}
.leftvid {
 width:270px; 
}
.rightvid {
 width:270px; 
}
