.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.jumbotron {
  background-image:url('http://i.imgur.com/Ygq9zid.png');
  margin-left: 397px;
  height: 411px;
  width: 1000px;
  box-shadow: 10px 10px 10px #888888;
  
  
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
.styled-button-5 {
	background-color:#2081bd;
	color:white;
	font-family:'Helvetica Neue',sans-serif;
	font-size:18px;
	line-height:30px;
	border-radius:  50px;
	-webkit-border-radius:  50px;
	-moz-border-radius:  50px;
	border:0;
	
	width:175px;
	padding-top:10px;
	padding-bottom:10px;
    cursor:pointer;
    margin-right:150px;
    margin-top:40px;
    margin-bottom:30px;
    border-style:dashed;
    border-color:#ff7200;
    box-shadow: 5px 5px 15px #888888;
    font-family:'Lobster';
    transition: background-color 0.4s ;
    
}         
.styled-button-5:hover {
background-color:#3399FF;
}       
#active {
background-color:#ff7200;
}
.styled-button-5:active { background-color:#ff7200;}
.nav li {
    display:inline-block;
}

body {background-color:#e2e2e2;}

.vid1 {
    position:relative;
    left:300px;
    right:20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s ease-in-out;
}
.vid1:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}	



.latestvidh1 { 
    margin-left:655px;
    color:#2081bd;
    font-family:'Lobster';
    font-size:70px
   
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
